* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#app {
    height: 100vh;
    background-color: #3f0707;
    color: #fff;
    font-family: Arial, sans-serif;
    font-size: 40px;
}

button {
    padding: 8px 16px;
    cursor: pointer
}

button.active {
    background-color: #c28109;
    color: #3f0707;
    font-weight: bold;
}